ul{
    padding: 0;
    background: rgba(217, 217, 217, 0.3);
    margin: 1em 0;
}
li{
    height: 75px;
    box-sizing: border-box;
    border-bottom: 2px solid #EFDC05;
    display: flex;
    background: #004E66;
    color: #ffffff;
    cursor: pointer;
}
li:hover{
    color: #EFDC05;
}

li label{
    margin: 12px 10px !important;
    padding: 0 !important;
    align-self: center;
}
li p{
    margin: auto;
}
li div {
    margin:auto;
}

h3{
    margin: auto;
}