ul{
    padding: 0;
    background: rgba(217, 217, 217, 0.3);
}
li{
    height: 75px;
    box-sizing: border-box;
    border-bottom: 2px solid #ffffff;
    display: flex;

}
li:hover{
    background: rgba(195, 195, 195, 0.3);
}

li label{
    margin: 12px 10px !important;
    padding: 0 !important;
    align-self: center;
}
li p{
    margin: auto;
    color: #00bcd4;
}
li div {
    margin:auto;
}

h3{
    margin: auto;
}